.app-layout {
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 7% 88% 5%;
  &__header,
  &__footer {
    grid-column: 1 / span 2;
    padding: 0;
  }
}
//////////////////////////////////////////
// MAIN CONTAINER OF CHILDREN
.main {
  padding: var(--spacing-sm);
  background-image: linear-gradient(
      to right bottom,
      rgba(97, 0, 5, 0.603),
      rgba(48, 0, 2, 0.603)
    ),
    url("../../../../img/mall.jpg");
  background-size: cover;
  background-position: top;
  overflow-y: scroll;
  position: relative;
  z-index: 1;
}
//////////////////////////////////////////
// PRODUCT
.catalogue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 146rem;
  margin: 0 auto;
  gap: var(--spacing-sm);
  &__header {
    border-radius: var(--border-radius-sm);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: calc(var(--spacing-tiny) * 0.5);
    width: 100%;
    margin: var(--spacing-sm) 0 var(--spacing-tiny) 0;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 35rem);
    gap: var(--spacing-sm);
    grid-auto-rows: 31rem;
    text-align: center;
  }
}
