.home {
  height: 100vh;
  display: grid;
  grid-template-rows: 7% 88% 5%;
  &__hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
////////////////////////////////////////////////
// HERO
.hero {
  &__headlines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-tiny);
    padding: var(--spacing-md);
  }
  &__main {
    width: calc(var(--spacing-huge) * 1.3);
  }
  &__brand {
    margin: 0 0 var(--spacing-default) 0;
  }
  &__get-started {
    padding: var(--spacing-tiny) var(--spacing-sm);
  }
}

.get-started {
  display: flex;
  gap: var(--spacing-tiny);
  &__text {
    margin: 0;
  }
}
