///////////////////////////////
// APP LAYOUT
.app-layout {
  @media only screen and (max-width: 645px) {
    grid-template-columns: 1fr;
    &__aside {
      display: none;
    }
  }
}
//////////////////////////////////////////
// MAIN CONTAINER OF CHILDREN
.main {
  @media only screen and (max-width: 330px) {
    padding: 0;
  }
}
///////////////////////////////
// HEADER
.header {
  &__links {
    @media only screen and (max-width: 645px) {
      display: none;
    }
  }
  &__auth {
    @media only screen and (max-width: 645px) {
      display: none;
    }
    &--register {
      @media only screen and (max-width: 645px) {
        padding: 0;
        background-color: var(--color-primary-800) !important;
      }
    }
  }
  &__hamburger {
    @media only screen and (max-width: 645px) {
      display: block;
    }
  }
  &__hidden-links {
    list-style-type: none;
    position: absolute;
    top: calc(var(--spacing-default) * 1.5);
    background-color: var(--color-primary-800);
    width: 100%;
    padding: var(--spacing-tiny) 0 var(--spacing-tiny) var(--spacing-sm);
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing-tiny) * 0.7);
    font-size: var(--font-size-sm);
    z-index: 2;
    @media only screen and (min-width: 645px) {
      display: none;
    }
    @media only screen and (max-width: 480px) {
      font-size: var(--font-size-tiny);
    }
  }
}
.hidden-links {
  &__about,
  &__contact {
    &:hover {
      opacity: 0.7;
    }
  }
  &__auth {
    display: flex;
    flex-direction: column;
    width: var(--spacing-lg);
    gap: calc(var(--spacing-tiny) * 0.7);
  }
}
.button--logout {
  @media only screen and (max-width: 645px) {
    padding: 0;
    background-color: var(--color-primary-800) !important;
    color: var(--color-white-500) !important;
    text-align: left;
  }
}
///////////////////////////////
// HERO
.hero {
  &__main {
    @media only screen and (max-width: 660px) {
      font-size: var(--font-size-md);
      width: 75%;
    }
    @media only screen and (max-width: 580px) {
      font-size: calc(var(--font-size-default) * 1.3);
    }
    @media only screen and (max-width: 480px) {
      font-size: calc(var(--font-size-default) * 1.2);
      width: 90%;
    }
  }
  &__brand {
    @media only screen and (max-width: 645px) {
      font-size: calc(var(--font-size-xxl) * 1.5);
    }
  }
  &__secondary {
    @media only screen and (max-width: 645px) {
      font-size: var(--font-size-tiny);
    }
    @media only screen and (max-width: 500px) {
      display: none;
    }
  }
  &__get-started {
    @media only screen and (max-width: 1140px) {
      font-size: calc(var(--font-size-md) * 0.56);
      padding: calc(var(--spacing-tiny) * 1.3);
      margin-top: -80px;
    }
    @media only screen and (max-width: 480px) {
      margin-top: -90px;
    }
  }
}
///////////////////////////////
// LOGIN FORM
.login {
  &__heading {
    @media only screen and (max-width: 480px) {
      font-size: var(--font-size-sm);
    }
  }
  &__form {
    @media only screen and (max-width: 645px) {
      max-width: 53rem;
      padding: calc(var(--spacing-md) * 0.7);
      gap: calc(var(--spacing-md) * 0.7);
    }
    @media only screen and (max-width: 480px) {
      width: 33rem;
      padding: calc(var(--spacing-default) * 0.8);
      gap: calc(var(--spacing-default) * 0.8);
    }
  }
  &__input {
    &--email,
    &--password {
      @media only screen and (max-width: 645px) {
        width: calc(var(--spacing-huge) * 0.8);
        height: calc(var(--spacing-default) * 1.1);
      }
      @media only screen and (max-width: 480px) {
        width: calc(var(--spacing-huge) * 0.6);
        height: var(--spacing-default);
      }
    }
  }
}
.button--login {
  @media only screen and (max-width: 645px) {
    padding: calc(var(--spacing-tiny) * 0.6);
  }
}
///////////////////////////////
// REGISTER FORM
.register {
  &__form {
    @media only screen and (max-width: 965px) {
      padding: calc(var(--spacing-md) * 0.6);
      gap: calc(var(--spacing-sm) * 0.5);
    }
    @media only screen and (max-width: 645px) {
      padding: calc(var(--spacing-sm) * 1.5);
      height: calc(var(--spacing-huge) * 1.5);
      gap: var(--spacing-sm);
      margin: var(--spacing-md) 0;
    }
    @media only screen and (max-width: 480px) {
      height: calc(var(--spacing-huge) * 1.33);
      padding: var(--spacing-default) calc(var(--spacing-sm) * 1.5);
      width: var(--spacing-xxl);
    }
  }
  &__heading {
    @media only screen and (max-width: 645px) {
      font-size: var(--font-size-tiny);
    }
  }
  &__inputs {
    @media only screen and (max-width: 645px) {
      grid-template-areas:
        "first-name"
        "last-name"
        "address"
        "email"
        "password"
        "confirm-password";
      grid-gap: calc(var(--spacing-sm) * 1.5);
    }
  }
  &__label {
    font-size: calc(var(--font-size-tiny) * 0.8);
  }
  &__text-field {
    @media only screen and (max-width: 965px) {
      width: calc(var(--spacing-xxl) * 0.7);
      height: calc(var(--spacing-default) * 1.15);
    }
    @media only screen and (max-width: 645px) {
      width: calc(var(--spacing-xxl) * 1);
      height: calc(var(--spacing-sm) * 1.6);
    }
    @media only screen and (max-width: 480px) {
      width: calc(var(--spacing-extra) * 1.5);
      height: calc(var(--spacing-sm) * 1.5);
    }
  }
  &__feedback {
    @media only screen and (max-width: 965px) {
      top: calc(var(--spacing-md) * 1.3);
    }
    @media only screen and (max-width: 645px) {
      top: calc(var(--spacing-md) * 1.1);
    }
  }
}
.button--register {
  @media only screen and (max-width: 645px) {
    padding: calc(var(--spacing-tiny) * 0.6);
  }
  @media only screen and (max-width: 480px) {
    padding: calc(var(--spacing-tiny) * 0.1);
    font-size: var(--font-size-sm);
  }
}
///////////////////////////////
// CATALOGUE
.catalogue {
  @media only screen and (max-width: 1770px) {
    width: 109rem;
  }
  @media only screen and (max-width: 1200px) {
    width: 75rem;
  }
  @media only screen and (max-width: 880px) {
    width: 65rem;
  }
  @media only screen and (max-width: 740px) {
    width: 55rem;
  }
  @media only screen and (max-width: 600px) {
    width: 35rem;
  }
  @media only screen and (max-width: 400px) {
    width: 25rem;
  }
  &__header {
    @media only screen and (max-width: 1100px) {
      font-size: var(--font-size-tiny);
      gap: var(--spacing-tiny);
    }
  }
  &__total-results {
    @media only screen and (max-width: 1100px) {
      margin-left: 0;
    }
  }
  &__grid {
    @media only screen and (max-width: 1770px) {
      grid-template-columns: repeat(3, 35rem);
    }
    @media only screen and (max-width: 1200px) {
      grid-template-columns: repeat(2, 35rem);
      column-gap: var(--spacing-md);
    }
    @media only screen and (max-width: 880px) {
      grid-template-columns: repeat(2, 30rem);
    }
    @media only screen and (max-width: 740px) {
      grid-template-columns: repeat(2, 25rem);
    }
    @media only screen and (max-width: 600px) {
      grid-template-columns: 35rem;
    }
    @media only screen and (max-width: 400px) {
      grid-template-columns: 25rem;
      column-gap: var(--spacing-md);
    }
  }
}

.search-box {
  @media only screen and (max-width: 1100px) {
    width: 100%;
  }
  &__input {
    @media only screen and (max-width: 1100px) {
      font-size: var(--font-size-tiny);
    }
  }
}

///////////////////////////////
// SHOPPING-CART
.shopping-cart {
  @media only screen and (max-width: 645px) {
    bottom: calc(var(--spacing-tiny) * 0.58);
  }
  &__overview {
    @media only screen and (max-width: 1770px) {
      width: 70%;
    }
    @media only screen and (max-width: 1300px) {
      width: 85%;
    }
    @media only screen and (max-width: 800px) {
      width: 95%;
    }
    @media only screen and (max-width: 645px) {
      padding: var(--spacing-default);
    }
    @media only screen and (max-width: 430px) {
      padding: var(--spacing-sm);
      height: 65%;
      overflow: scroll;
    }
  }
  &__empty-message {
    @media only screen and (max-width: 645px) {
      width: var(--spacing-extra);
    }
  }
  &__heading {
    @media only screen and (max-width: 645px) {
      font-size: calc(var(--font-size-default) * 1.5);
    }
    @media only screen and (max-width: 430px) {
      margin-top: var(--spacing-default);
      font-size: var(--font-size-default);
    }
  }
  &__table {
    @media only screen and (max-width: 645px) {
      margin-top: var(--spacing-tiny);
    }
  }
  &__table-header {
    @media only screen and (max-width: 965px) {
      font-size: calc(var(--font-size-tiny) * 0.8);
    }
  }
  &__body-cell {
    @media only screen and (max-width: 965px) {
      font-size: var(--font-size-tiny);
    }
    @media only screen and (max-width: 647px) {
      font-size: calc(var(--font-size-tiny) * 0.8);
      padding: calc(var(--font-size-tiny) * 0.3) 0;
    }
    &:first-child {
      @media only screen and (max-width: 800px) {
        padding-right: var(--spacing-sm);
      }
    }
    &:nth-child(-n + 3) {
      @media only screen and (max-width: 700px) {
        padding-right: var(--font-size-sm);
      }
    }
  }
  &__total-price {
    @media only screen and (max-width: 645px) {
      font-size: var(--font-size-sm);
    }
  }
}

.button {
  &--clear,
  &--order {
    @media only screen and (max-width: 645px) {
      margin-top: 0;
      font-size: var(--font-size-tiny);
      padding: var(--spacing-tiny);
    }
  }
}
