.login {
  &__form {
    background-color: var(--color-primary-900);
    border-radius: var(--border-radius-sm);
    box-shadow: var(--shadow-dark);
  }
  &__input {
    &--email,
    &--password {
      background-color: var(--color-white-500);
      border: none;
      border-radius: 0.6rem;
    }
  }
  &__checkbox {
    &--input:hover {
      cursor: pointer;
    }
  }
}
