.button {
  padding: var(--spacing-tiny) var(--spacing-sm);
  border: none;
  &--login,
  &--register,
  &--logout,
  &--clear,
  &--order,
  &--add-cart {
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
  &--login,
  &--register,
  &--loader,
  &--clear,
  &--order {
    border-radius: var(--border-radius-lg);
    margin-top: var(--spacing-tiny);
  }
  &--login,
  &--register,
  &--clear {
    background-color: var(--color-primary-800);
  }
  &--order {
    background-color: var(--color-green);
  }
  &--logout {
    background-color: var(--color-primary-900);
    position: relative;
    padding: 0;
    bottom: calc(var(--spacing-tiny) * 0.3);
  }
  &--add-cart {
    background-color: var(--color-primary-800);
    border-radius: var(--border-radius-lg);
    padding: var(--spacing-tiny);
  }
  &--loader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-tiny);
  }
}
