.header {
  height: 100%;
  padding: 0 var(--spacing-sm);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary-900);
  &__right-side {
    display: flex;
    align-items: center;
    gap: var(--spacing-tiny);
  }
  &__links {
    display: flex;
    align-items: center;
    gap: var(--spacing-tiny);
    &--about,
    &--contact,
    &--products {
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  &__auth {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-tiny);
    border-left: 1px solid var(--color-secondary-300);
    padding-left: var(--spacing-tiny);
    &--login,
    &--register {
      text-decoration: none;
      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }
    &--login {
      color: var(--color-white-500);
    }
    &--register {
      color: var(--color-white-500);
      border-radius: var(--border-radius-lg);
      padding: 0 var(--spacing-tiny);
      background-color: var(--color-primary-700);
    }
  }
  &__hamburger {
    display: none;
    height: var(--spacing-md);
    width: var(--spacing-default);
    color: var(--color-white-600);
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}
