.shopping-cart {
  position: relative;
  bottom: calc(var(--spacing-tiny) * 0.5);
  &__icon {
    font-size: var(--font-size-md);
    margin: 0 calc(var(--spacing-tiny) * 0.5) 0 var(--spacing-sm);
    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
  &__notification {
    position: absolute;
    top: var(--spacing-tiny);
    left: 0.6rem;
    font-size: var(--font-size-tiny);
    font-weight: 400;
    background-color: var(--color-primary-400);
    height: calc(var(--spacing-sm) * 1.1);
    width: calc(var(--spacing-sm) * 1.1);
    border-radius: var(--border-radius-lg);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__overview {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 50%;
    width: 50%;
    height: fit-content;
    padding: var(--spacing-md);
    background-color: var(--color-primary-900);
    color: var(--color-white-500);
    font-weight: 400;
    border-radius: var(--border-radius-sm);
  }
  &__empty-message {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(var(--spacing-huge) * 1.5);
    transform: translate(-50%, -50%);
    font-size: var(--font-size-default);
    text-align: center;
  }
  &__back-button {
    display: inline-flex;
    gap: var(--spacing-tiny);
    padding: var(--spacing-tiny) var(--spacing-tiny);
    border-radius: var(--border-radius-sm);
    font-size: var(--font-size-sm);
    position: absolute;
    top: 0;
    left: 0;
    &:hover {
      cursor: pointer;
      background: darken(#f0000c, 20%);
    }
  }
  &__heading {
    font: inherit;
    font-size: var(--font-size-md);
  }
  &__table {
    margin-top: var(--spacing-sm);
    width: 100%;
  }
  &__table-header {
    color: var(--color-secondary-150);
    text-decoration: underline;
    font-size: var(--font-size-tiny);
    font-weight: 400;
  }
  &__header-row {
    height: var(--spacing-default);
  }
  &__header-cell {
    padding: var(--spacing-tiny) 0;
    &:last-child {
      padding-left: var(--spacing-sm);
    }
  }
  &__table-body {
    font-size: var(--font-size-sm);
    font-style: italic;
  }
  &__trash {
    cursor: pointer;
    text-align: center;
    padding: calc(var(--font-size-tiny) * 0.2);
    border-radius: var(--border-radius-huge);
    &:hover {
      background-color: var(--color-secondary-400);
    }
  }
  &__divider {
    height: calc(var(--spacing-tiny) * 0.1);
    width: 95%;
    background-color: var(--color-white-500);
    margin: var(--spacing-sm) 0;
  }
  &__total-price {
    display: flex;
    gap: var(--spacing-sm);
  }
  &__price-field {
    font-size: var(--font-size-sm);
    font-weight: 400;
    align-self: flex-end;
    color: var(--color-secondary-150);
  }
  &__buttons {
    margin: var(--spacing-default) 0 0 auto;
    display: flex;
    gap: var(--spacing-sm);
  }
}
